<main class="main">
  <app-loader *ngIf="authService.isLoading" />

  <form
    class="form"
    id="login"
    #loginForm="ngForm"
    (ngSubmit)="onSubmit(loginForm)"
  >
    <app-auth-error-display *ngIf="authService.httpError" />
    <h3>Login</h3>
    <label class="label" for="email">Email</label>
    <input
      type="email"
      id="email"
      placeholder="bruceWayne@abv.bg"
      name="email"
      #inputEmail="ngModel"
      ngModel
      email
      required
    />
    <div *ngIf="inputEmail.touched" class="errors-div">
      <div *ngIf="inputEmail.errors?.['required']" class="error">
        Email is required!
      </div>
      <div *ngIf="inputEmail.errors?.['email']" class="error">
        Email is invalid!
      </div>
    </div>
    <label class="label" for="password">Password</label>
    <input
      type="password"
      placeholder="********"
      id="password"
      name="password"
      #inputPassword="ngModel"
      ngModel
      minlength="5"
      required
    />
    <div *ngIf="inputPassword.touched" class="errors-div">
      <div *ngIf="inputPassword.errors?.['required']" class="error">
        Password is required!
      </div>
      <div *ngIf="inputPassword.errors?.['minlength']" class="error">
        Password requires at least 5 characters.
      </div>
    </div>
    <button type="submit">Log In</button>
    <div class="actions">
      <a routerLink="/register">
        <div class="create-acc">Create account</div>
      </a>
      <a routerLink="/">
        <div class="home">Home</div>
      </a>
    </div>
  </form>
</main>
