<main class="main">
  <form
    class="form"
    id="login"
    #loginForm="ngForm"
    (ngSubmit)="onSubmit(loginForm)"
  >
    <h3>Login</h3>
    <label class="label" for="email">Email</label>
    <input
      type="email"
      id="email"
      placeholder="bruceWayne@abv.bg"
      name="email"
      #inputEmail="ngModel"
      ngModel
      email
      required
    />
    <label class="label" for="password">Password</label>
    <input
      type="password"
      placeholder="********"
      id="password"
      name="password"
      #inputPassword="ngModel"
      ngModel
      minlength="5"
    />
    <button type="submit">Log In</button>
    <div class="actions">
      <a routerLink="/register">
        <div class="create-acc">Create account</div>
      </a>
      <a routerLink="/">
        <div class="home">Home</div>
      </a>
    </div>
  </form>
</main>
