<main class="main">
  <div *ngIf="isLoading" class="loader">
    <app-loader />
  </div>
  <section class="card-component">
    <div class="card-img">
      <img src="{{ review?.imageUrl }}" alt="{{ review?.title }}" />
    </div>
    <div class="icons" *ngIf="isAuthorized()">
      <button class="edit-btn" (click)="onEditReview(review?._id)">
        <i class="fas fa-edit"></i>
      </button>
      <button class="delete-btn" (click)="onDeleteReview(review?._id)">
        <i class="fas fa-trash"></i>
      </button>
    </div>
    <div class="card-desc">
      <h3>{{ review?.title }}</h3>
      <h4>Genre: {{ review?.genre }}</h4>
      <h5>Review by {{ review?.name }}</h5>
      <p>
        {{ review?.review }}
      </p>
    </div>
    <section *ngIf="!isOwner()" class="comment-form-section">
      <app-add-comment />
    </section>
    <section class="comments-section">
      <app-comments-section />
    </section>
  </section>
</main>
