<main id="create-page" class="main">
  <app-loader *ngIf="isLoading" />
  <form
    class="create-form"
    #createForm="ngForm"
    (ngSubmit)="onSubmit(createForm)"
  >
    <h3>Add Comment</h3>

    <label for="name" class="label"> Name </label>
    <input
      type="text"
      name="name"
      placeholder="First and last name..."
      #inputName="ngModel"
      minlength="5"
      ngModel
      required
    />
    <div *ngIf="inputName.touched" class="errors-div">
      <div class="error" *ngIf="inputName.errors?.['minlength']">
        Minimum 5 characters are required!
      </div>
      <div class="error" *ngIf="inputName.errors?.['required']">
        Name is required!
      </div>
    </div>

    <label for="comment" class="label"> Comment </label>
    <input
      type="text"
      name="comment"
      placeholder="Comment here..."
      minlength="5"
      #inputComment="ngModel"
      ngModel
      required
    />
    <div *ngIf="inputComment.touched" class="errors-div">
      <div class="error" *ngIf="inputComment.errors?.['minlength']">
        Minimum 5 characters are required!
      </div>
      <div class="error" *ngIf="inputComment.errors?.['required']">
        Comment is required!
      </div>
    </div>

    <button type="submit" class="create-btn">Submit</button>
  </form>
</main>
