<main id="create-page" class="main">
  <form id="create" class="create-form" method="post">
    <h3>Create Review</h3>

    <label for="name" class="label"> Name: </label>
    <input
      type="text"
      id="name"
      name="name"
      placeholder="Enter your first and last name..."
    />

    <label for="location" class="label"> Location: </label>
    <input
      type="text"
      id="location"
      name="location"
      placeholder="Enter your location..."
    />

    <label for="title" class="label"> Title: </label>
    <input type="text" id="title" name="title" placeholder="Enter a title..." />

    <label for="imageUrl" class="label"> Image: </label>
    <input
      type="text"
      id="imageUrl"
      name="imageUrl"
      placeholder="Upload a photo..."
    />

    <button type="submit" class="create-btn" value="Create Post">
      Create Review
    </button>
  </form>
</main>
