<main class="main">
  <section class="cards">
    <section class="card-component" *ngFor="let review of reviewsList">
      <div class="card-image">
        <img src="{{ review.imageUrl }}" alt="{{ review.title }}" />
      </div>
      <div class="card-desc">
        <h3>{{ review.title }}</h3>
        <h4>Genre: {{ review.genre }}</h4>
        <p class="card-review">{{ review.review.slice(0, 300) }}...</p>
      </div>
      <a routerLink="/" class="btn-a">
        <div class="continue-btn">Read More</div>
      </a>
    </section>
  </section>
</main>
